body {
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  /* background-color: #283149; */
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

h2 {
  color: white;
}

#myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  /* min-width: 100%;
  min-height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {

  box-shadow: 0 0 5px 0;
  /* background: inherit; */
  backdrop-filter: blur(0px);

  /* color: white; */
  /* text-align: center; */
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  /* margin: 10% auto; */
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.modal-body {
  box-shadow: 0 0 5px 0;
  /* background: inherit; */
  backdrop-filter: blur(20px);
  z-index: 2;
}

.dr {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  /* line-height: 2; */
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 10px;
  /* background-color: white; */
}

.cart {
  color: black;
}
#timer_container > #time {
  top: 45%;
  left: 45%;
  margin: 60px auto;
  color: rgb(235, 235, 34);

  font-family: arial;
  font-size: 50px;
  font-weight: bold;
 
}
#timer_container {

  width: 100px;
  height: 100px;
  border-radius: 10%;
  top: 45%;
  left: 45%;
  margin: 20px auto;
}
#timer_container > div {
  top: 80%;
  left: 50%;
  width: 6px;
  height: 10px;

}


.thunder-button {
  margin-top:40px;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #c7ce64;
  color: #271717;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.thunder-button:hover {
  background-color: #35b929;
}

.thunder-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: radial-gradient(circle, transparent 0%, #fff 20%, transparent 90%);
  opacity: 0;
  transition: all 0.5s;
}

.clicked {
  background-color: #e74c3c;
}

.clicked::after {
  width: 150%;
  height: 150%;
  opacity: 50;
}